table{
    display: none;
}
*{
    padding: 0;
    margin: 0;
    color: #2F4F4F;
}
.logo{
    height: 50px;
}
#moi{
    border-radius: 75px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}
header{
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    background-color: #e8a5cc;
}
h1{
    flex-grow: 1;
    text-align: center;
}
main{
    background-color: bisque;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;

}
#leftcol{
    background-color: azure;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 10px;
    }
#rightcol{
    background-color: beige;
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
}
summary > p {
    display: flex;
     justify-content: right;
}
.poste, .course{
    flex-grow: 1;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
input{
    padding: 0 5px;
}
footer{
    position: sticky;
    bottom: 0;
    background-color: azure;
    display: flex;
    justify-content: center;
}
.interest{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
.interest > p{
    background-color: aqua;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.pitch , .schools , .works{
    background-color: #e8a5cc;
    border-radius: 10px;
    padding: 5px;
}

main, section, h3, h4{
    padding: 10px;
}
#cogip{
    color: red;
}